.form1{
  color: hwb(0 1% 93%);
  text-align: center;
  border: 50px solid rgb(179, 200, 206) ;
  width: 30vw;
  padding: 20px;
  border-radius: 8px;
}
.input-font{
  display: block;
  margin: 0 auto 10px auto;
  border: 3px solid #020202; 
  height: 50px;
  font-weight: bold;
  color: bold;
  width: 70%;
  margin-left: 30px;
}
input:focus{
  outline: none;

}
.check{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}
input[type="checkbox"]{
  margin: 0;
  margin-left: 10px;
  width: 10px;
  cursor: pointer;

}
.button{
  width: 30%;
  min-width: max-content;
  margin-top:20px ;
  background-color: #17e917;
  
  
  box-sizing: border-box;
  border: 3px solid #020202;
  color: bold;
  font-weight: bold;
  height: 60px;
}
button:hover {
  background-color: hsl(0, 96%, 52%); 
  border: 3px solid #020202;
}
::placeholder{
color: #fff;
  opacity: 0.5;
  letter-spacing: 0.5px;

}

.label{
  display: block;
font-size: 1em;
color: #212121;
text-transform: capitalize;
margin-bottom: 8px;
font-weight: 700;
text-align: left;
font-family: "Poppins";
}
.h1{
  color: #5c0d5f;
   font-family: serif; 
}